<?xml version="1.0"?>
<robot name="5Shelves_fc45d911f8b87b1aca32354d178e0245">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/5Shelves/fc45d911f8b87b1aca32354d178e0245.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/5Shelves/fc45d911f8b87b1aca32354d178e0245.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>