<?xml version="1.0"?>
<robot name="AccentTable_667feb014ec060c4855931d119219022">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/667feb014ec060c4855931d119219022.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/667feb014ec060c4855931d119219022.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>