<?xml version="1.0"?>
<robot name="AccentChair_7c032d2cf3a2303244298dba366b34fa">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentChair/7c032d2cf3a2303244298dba366b34fa.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentChair/7c032d2cf3a2303244298dba366b34fa.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>