<?xml version="1.0"?>
<robot name="AccentChair_fd9b63c23342e57045b799df37b9f05">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentChair/fd9b63c23342e57045b799df37b9f05.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentChair/fd9b63c23342e57045b799df37b9f05.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>