<?xml version="1.0"?>
<robot name="AccentTable_a9e9403866c41222de809b4586322d2a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/a9e9403866c41222de809b4586322d2a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/a9e9403866c41222de809b4586322d2a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>