<?xml version="1.0"?>
<robot name="AccentTable_161c91e07ad78de9e3f7a74e12a274ef">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/161c91e07ad78de9e3f7a74e12a274ef.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/161c91e07ad78de9e3f7a74e12a274ef.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>