<?xml version="1.0"?>
<robot name="AccentTable_c6e30f76334e5872822a33e080d0e71c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/c6e30f76334e5872822a33e080d0e71c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/AccentTable/c6e30f76334e5872822a33e080d0e71c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>