<?xml version="1.0"?>
<robot name="Airplane_34a89777594d3a61b2440702f5566974">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Airplane/34a89777594d3a61b2440702f5566974.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Airplane/34a89777594d3a61b2440702f5566974.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>