<?xml version="1.0"?>
<robot name="Airplane_a9f2cb5b508aa3b090baeef8ba5b93e5">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Airplane/a9f2cb5b508aa3b090baeef8ba5b93e5.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Airplane/a9f2cb5b508aa3b090baeef8ba5b93e5.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>