<?xml version="1.0"?>
<robot name="Armoire_d3f0fbdeabf3946dfe7bebacf7a743b8">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/d3f0fbdeabf3946dfe7bebacf7a743b8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/d3f0fbdeabf3946dfe7bebacf7a743b8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>