<?xml version="1.0"?>
<robot name="Armoire_1857891cdabf6824b0fd397b9007d287">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/1857891cdabf6824b0fd397b9007d287.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/1857891cdabf6824b0fd397b9007d287.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>