<?xml version="1.0"?>
<robot name="Armoire_9edead26059cae09e3f7a74e12a274ef">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/9edead26059cae09e3f7a74e12a274ef.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/9edead26059cae09e3f7a74e12a274ef.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>