<?xml version="1.0"?>
<robot name="Armoire_9308d7185af7ce82a9f547acc5e1dd79">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/9308d7185af7ce82a9f547acc5e1dd79.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/9308d7185af7ce82a9f547acc5e1dd79.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>