<?xml version="1.0"?>
<robot name="Armoire_7735d2b98817c8061541581d0732faf4">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/7735d2b98817c8061541581d0732faf4.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Armoire/7735d2b98817c8061541581d0732faf4.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>