<?xml version="1.0"?>
<robot name="Barstool_e2acc4d276fda3d77d70172a29ade99a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Barstool/e2acc4d276fda3d77d70172a29ade99a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Barstool/e2acc4d276fda3d77d70172a29ade99a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>