<?xml version="1.0"?>
<robot name="Barstool_d02fc4ae6bc4278b68c4c9cb55925fb2">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Barstool/d02fc4ae6bc4278b68c4c9cb55925fb2.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Barstool/d02fc4ae6bc4278b68c4c9cb55925fb2.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>