<?xml version="1.0"?>
<robot name="BeanBag_231fc7a5fee77fb49d033c6b39a97cb6">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BeanBag/231fc7a5fee77fb49d033c6b39a97cb6.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BeanBag/231fc7a5fee77fb49d033c6b39a97cb6.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>