<?xml version="1.0"?>
<robot name="BeerBottle_2927d6c8438f6e24fe6460d8d9bd16c6">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BeerBottle/2927d6c8438f6e24fe6460d8d9bd16c6.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BeerBottle/2927d6c8438f6e24fe6460d8d9bd16c6.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>