<?xml version="1.0"?>
<robot name="BeerBottle_799397068de1ae1c4587d6a85176d7a0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BeerBottle/799397068de1ae1c4587d6a85176d7a0.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/BeerBottle/799397068de1ae1c4587d6a85176d7a0.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>