<?xml version="1.0"?>
<robot name="Bench_20b2186bf6baa52cde650492e45fb14f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/20b2186bf6baa52cde650492e45fb14f.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/20b2186bf6baa52cde650492e45fb14f.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>