<?xml version="1.0"?>
<robot name="Bench_abf250a01f526137a035c800c58595d9">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/abf250a01f526137a035c800c58595d9.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/abf250a01f526137a035c800c58595d9.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>