<?xml version="1.0"?>
<robot name="Bench_bc6914d649379349ab3be97afdba4e8d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/bc6914d649379349ab3be97afdba4e8d.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/bc6914d649379349ab3be97afdba4e8d.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>