<?xml version="1.0"?>
<robot name="Bench_f481b438f2d7c8b7e858d752eb6e952e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/f481b438f2d7c8b7e858d752eb6e952e.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/f481b438f2d7c8b7e858d752eb6e952e.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>