<?xml version="1.0"?>
<robot name="Bench_17a7a1a4761e9aa1d4bf2d5f775ffe5e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/17a7a1a4761e9aa1d4bf2d5f775ffe5e.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/17a7a1a4761e9aa1d4bf2d5f775ffe5e.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>