<?xml version="1.0"?>
<robot name="Bench_4a5f9a0672cf3a1fad5067eac75a07f7">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/4a5f9a0672cf3a1fad5067eac75a07f7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bench/4a5f9a0672cf3a1fad5067eac75a07f7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>