<?xml version="1.0"?>
<robot name="Book_e9c15756a9c5c9d5188705959b3fcb07">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Book/e9c15756a9c5c9d5188705959b3fcb07.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Book/e9c15756a9c5c9d5188705959b3fcb07.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>