<?xml version="1.0"?>
<robot name="Bookcase_2181392dc1ff2633cbc1cd31e3359c44">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bookcase/2181392dc1ff2633cbc1cd31e3359c44.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bookcase/2181392dc1ff2633cbc1cd31e3359c44.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>