<?xml version="1.0"?>
<robot name="Books_45e888388c36cace7c6ab6f4a65805ac">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Books/45e888388c36cace7c6ab6f4a65805ac.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Books/45e888388c36cace7c6ab6f4a65805ac.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>