<?xml version="1.0"?>
<robot name="Book_bf256642fdf506e29a39c6489bdf936f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Book/bf256642fdf506e29a39c6489bdf936f.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Book/bf256642fdf506e29a39c6489bdf936f.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>