<?xml version="1.0"?>
<robot name="Bowl_960c5c5bff2d3a4bbced73c51e99f8b2">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bowl/960c5c5bff2d3a4bbced73c51e99f8b2.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bowl/960c5c5bff2d3a4bbced73c51e99f8b2.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>