<?xml version="1.0"?>
<robot name="Bucket_e2c049a1e7b7004bf44a292ef014253">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bucket/e2c049a1e7b7004bf44a292ef014253.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bucket/e2c049a1e7b7004bf44a292ef014253.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>