<?xml version="1.0"?>
<robot name="Bucket_6ddd342b43935620e43f40ae23b6b0db">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bucket/6ddd342b43935620e43f40ae23b6b0db.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Bucket/6ddd342b43935620e43f40ae23b6b0db.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>