<?xml version="1.0"?>
<robot name="Cabinet_e154ea5a4fb404a675aa7f24a9b6003a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/e154ea5a4fb404a675aa7f24a9b6003a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/e154ea5a4fb404a675aa7f24a9b6003a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>