<?xml version="1.0"?>
<robot name="Cabinet_b51451ecb365ddb24da5feafe6f1c8fc">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/b51451ecb365ddb24da5feafe6f1c8fc.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/b51451ecb365ddb24da5feafe6f1c8fc.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>