<?xml version="1.0"?>
<robot name="Cabinet_25b54ed9064022a0728263fac1d24145">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/25b54ed9064022a0728263fac1d24145.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/25b54ed9064022a0728263fac1d24145.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>