<?xml version="1.0"?>
<robot name="Cabinet_75c26ffff01ea7063ab3dfa44f5fab01">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/75c26ffff01ea7063ab3dfa44f5fab01.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/75c26ffff01ea7063ab3dfa44f5fab01.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>