<?xml version="1.0"?>
<robot name="Cabinet_97ff4614190d8cdfff05fff9845ac53e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/97ff4614190d8cdfff05fff9845ac53e.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/97ff4614190d8cdfff05fff9845ac53e.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>