<?xml version="1.0"?>
<robot name="Cabinet_6c5ed7f73f2dfeb998a4820926b2a786">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/6c5ed7f73f2dfeb998a4820926b2a786.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cabinet/6c5ed7f73f2dfeb998a4820926b2a786.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>