<?xml version="1.0"?>
<robot name="Cake_ffe702c059d0fe5e6617a7fd9720002b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cake/ffe702c059d0fe5e6617a7fd9720002b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cake/ffe702c059d0fe5e6617a7fd9720002b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>