<?xml version="1.0"?>
<robot name="Cake_4b2c94c0356cad9113d6ba6128d0b598">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cake/4b2c94c0356cad9113d6ba6128d0b598.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Cake/4b2c94c0356cad9113d6ba6128d0b598.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>