<?xml version="1.0"?>
<robot name="Calculator_1195f3e9e2d20c31af2bcf0b16fddd8f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Calculator/1195f3e9e2d20c31af2bcf0b16fddd8f.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Calculator/1195f3e9e2d20c31af2bcf0b16fddd8f.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>