<?xml version="1.0"?>
<robot name="Camera_235a6dd25c0a6f7b66f19f26ac490096">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Camera/235a6dd25c0a6f7b66f19f26ac490096.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Camera/235a6dd25c0a6f7b66f19f26ac490096.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>