<?xml version="1.0"?>
<robot name="Camera_e5d95c0741290bec53d4d4a926d0dadc">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Camera/e5d95c0741290bec53d4d4a926d0dadc.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Camera/e5d95c0741290bec53d4d4a926d0dadc.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>