<?xml version="1.0"?>
<robot name="Candle_59f3bcb326cfb4878870cefd9ff03619">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Candle/59f3bcb326cfb4878870cefd9ff03619.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Candle/59f3bcb326cfb4878870cefd9ff03619.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>