<?xml version="1.0"?>
<robot name="Candle_b4976b2fba66769d4cccbece4754c7cf">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Candle/b4976b2fba66769d4cccbece4754c7cf.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Candle/b4976b2fba66769d4cccbece4754c7cf.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>