<?xml version="1.0"?>
<robot name="Candle_26b72a9e18203a02f841233486fac2b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Candle/26b72a9e18203a02f841233486fac2b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Candle/26b72a9e18203a02f841233486fac2b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>