<?xml version="1.0"?>
<robot name="CeilingLamp_835d3e4cf591ad35e53644a675fa445b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CeilingLamp/835d3e4cf591ad35e53644a675fa445b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CeilingLamp/835d3e4cf591ad35e53644a675fa445b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>