<?xml version="1.0"?>
<robot name="CeilingLamp_b7cb57a53e9a7c56bdac321549eab329">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CeilingLamp/b7cb57a53e9a7c56bdac321549eab329.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CeilingLamp/b7cb57a53e9a7c56bdac321549eab329.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>