<?xml version="1.0"?>
<robot name="CellPhone_9c1286570bbc6fc78f257ecba9a6ef8">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/9c1286570bbc6fc78f257ecba9a6ef8.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/9c1286570bbc6fc78f257ecba9a6ef8.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>