<?xml version="1.0"?>
<robot name="CellPhone_380769bbf131125eafec9235550038aa">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/380769bbf131125eafec9235550038aa.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/380769bbf131125eafec9235550038aa.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>