<?xml version="1.0"?>
<robot name="CellPhone_1d7830c5d0322518d95aa859a460a9ec">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/1d7830c5d0322518d95aa859a460a9ec.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/1d7830c5d0322518d95aa859a460a9ec.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>