<?xml version="1.0"?>
<robot name="CellPhone_97636c08b1f1c4c2420f2c422430d6fa">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/97636c08b1f1c4c2420f2c422430d6fa.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/97636c08b1f1c4c2420f2c422430d6fa.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>