<?xml version="1.0"?>
<robot name="CellPhone_d1134b5b107fcfedb58c0249f6338472">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/d1134b5b107fcfedb58c0249f6338472.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/d1134b5b107fcfedb58c0249f6338472.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>