<?xml version="1.0"?>
<robot name="CellPhone_c179b4234e00c6d2ba58668e02b0b051">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/c179b4234e00c6d2ba58668e02b0b051.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/c179b4234e00c6d2ba58668e02b0b051.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>