<?xml version="1.0"?>
<robot name="CellPhone_996fd7ccc0567c3c6b2ba76eab0d2b1c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/996fd7ccc0567c3c6b2ba76eab0d2b1c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CellPhone/996fd7ccc0567c3c6b2ba76eab0d2b1c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>