<?xml version="1.0"?>
<robot name="CerealBox_16afaf11b6a9578444d3a157597f918b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CerealBox/16afaf11b6a9578444d3a157597f918b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CerealBox/16afaf11b6a9578444d3a157597f918b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>