<?xml version="1.0"?>
<robot name="CerealBox_45628e5fceff8eda39f3410d5f76299b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CerealBox/45628e5fceff8eda39f3410d5f76299b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CerealBox/45628e5fceff8eda39f3410d5f76299b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>