<?xml version="1.0"?>
<robot name="Chair_faa04561f4de3ec23f520aafbc921168">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/faa04561f4de3ec23f520aafbc921168.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/faa04561f4de3ec23f520aafbc921168.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>