<?xml version="1.0"?>
<robot name="Chair_b06f26c5403c3e922e653f6e789d3d8c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/b06f26c5403c3e922e653f6e789d3d8c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/b06f26c5403c3e922e653f6e789d3d8c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>