<?xml version="1.0"?>
<robot name="Chair_47ac4f73d91f8ff0c862eec8232fff1e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/47ac4f73d91f8ff0c862eec8232fff1e.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/47ac4f73d91f8ff0c862eec8232fff1e.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>