<?xml version="1.0"?>
<robot name="Chair_eeef39917dd113e053624ac0db0f7e5b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/eeef39917dd113e053624ac0db0f7e5b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/eeef39917dd113e053624ac0db0f7e5b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>