<?xml version="1.0"?>
<robot name="Chair_dac4af24e2facd7d3000ca4b04fcd6ac">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/dac4af24e2facd7d3000ca4b04fcd6ac.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/dac4af24e2facd7d3000ca4b04fcd6ac.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>