<?xml version="1.0"?>
<robot name="Chair_9214670b7c1e36bc1b1e2ecfb322ccbd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/9214670b7c1e36bc1b1e2ecfb322ccbd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/9214670b7c1e36bc1b1e2ecfb322ccbd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>