<?xml version="1.0"?>
<robot name="Chair_59ee0ee98def6f1e14b86d5282eb8301">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/59ee0ee98def6f1e14b86d5282eb8301.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/59ee0ee98def6f1e14b86d5282eb8301.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>