<?xml version="1.0"?>
<robot name="Chair_806bce1a95268006ecd7cae46ee113ea">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/806bce1a95268006ecd7cae46ee113ea.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/806bce1a95268006ecd7cae46ee113ea.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>