<?xml version="1.0"?>
<robot name="Chair_40f7d82bb5bbb83dbc6e92ada35e127c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/40f7d82bb5bbb83dbc6e92ada35e127c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/40f7d82bb5bbb83dbc6e92ada35e127c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>