<?xml version="1.0"?>
<robot name="Chair_512905c0211b947edc6f96c9bb9e3ae6">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/512905c0211b947edc6f96c9bb9e3ae6.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Chair/512905c0211b947edc6f96c9bb9e3ae6.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>