<?xml version="1.0"?>
<robot name="ChestOfDrawers_47ffa354257d2e3b20f4d1b537b5ee90">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/47ffa354257d2e3b20f4d1b537b5ee90.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/47ffa354257d2e3b20f4d1b537b5ee90.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>