<?xml version="1.0"?>
<robot name="ChestOfDrawers_4bda28b19b2f6f865cd4f7d5b0608a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/4bda28b19b2f6f865cd4f7d5b0608a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/4bda28b19b2f6f865cd4f7d5b0608a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>