<?xml version="1.0"?>
<robot name="ChestOfDrawers_18d0a9703a1151475f4d9bb2d20be1fe">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/18d0a9703a1151475f4d9bb2d20be1fe.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/18d0a9703a1151475f4d9bb2d20be1fe.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>