<?xml version="1.0"?>
<robot name="ChestOfDrawers_3b768b2dd1bd4ba92ea98d69e91ba870">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/3b768b2dd1bd4ba92ea98d69e91ba870.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/3b768b2dd1bd4ba92ea98d69e91ba870.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>