<?xml version="1.0"?>
<robot name="ChestOfDrawers_d7c7bc545acca8faae3f599e8fbe258d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/d7c7bc545acca8faae3f599e8fbe258d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ChestOfDrawers/d7c7bc545acca8faae3f599e8fbe258d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>