<?xml version="1.0"?>
<robot name="CoffeeTable_4a944441380ba0a45990f2c81f286aec">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CoffeeTable/4a944441380ba0a45990f2c81f286aec.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CoffeeTable/4a944441380ba0a45990f2c81f286aec.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>