<?xml version="1.0"?>
<robot name="CoffeeTable_faa5d5ba2a002922511e5b9dc733c75c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CoffeeTable/faa5d5ba2a002922511e5b9dc733c75c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/CoffeeTable/faa5d5ba2a002922511e5b9dc733c75c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>