<?xml version="1.0"?>
<robot name="Coin_3d218ab9b3ecba8c4768b491c2c6e170">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Coin/3d218ab9b3ecba8c4768b491c2c6e170.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Coin/3d218ab9b3ecba8c4768b491c2c6e170.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>