<?xml version="1.0"?>
<robot name="Coin_3114a48018c1b0ba316e398e79bfa21a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Coin/3114a48018c1b0ba316e398e79bfa21a.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Coin/3114a48018c1b0ba316e398e79bfa21a.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>