<?xml version="1.0"?>
<robot name="ComputerMouse_a6d442101c252b09e131a48033aecfb6">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ComputerMouse/a6d442101c252b09e131a48033aecfb6.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ComputerMouse/a6d442101c252b09e131a48033aecfb6.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>