<?xml version="1.0"?>
<robot name="Couch_21b22c30f1c6ddb9952d5d6c0ee49300">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/21b22c30f1c6ddb9952d5d6c0ee49300.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/21b22c30f1c6ddb9952d5d6c0ee49300.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>