<?xml version="1.0"?>
<robot name="Couch_9c4c4fbaa6e9284fabd9c31d4e727bfe">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/9c4c4fbaa6e9284fabd9c31d4e727bfe.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/9c4c4fbaa6e9284fabd9c31d4e727bfe.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>