<?xml version="1.0"?>
<robot name="Couch_2b8d1c67d17d3911d9cff7df5347abca">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/2b8d1c67d17d3911d9cff7df5347abca.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/2b8d1c67d17d3911d9cff7df5347abca.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>