<?xml version="1.0"?>
<robot name="Couch_dccb04ee585d9d10cf065d4b58dc3084">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/dccb04ee585d9d10cf065d4b58dc3084.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/dccb04ee585d9d10cf065d4b58dc3084.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>