<?xml version="1.0"?>
<robot name="Couch_1fd45c57ab27cb6cea65c47b660136e7">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/1fd45c57ab27cb6cea65c47b660136e7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/1fd45c57ab27cb6cea65c47b660136e7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>