<?xml version="1.0"?>
<robot name="Couch_6bd7475753c3d1d62764cfba57a5de73">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/6bd7475753c3d1d62764cfba57a5de73.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/6bd7475753c3d1d62764cfba57a5de73.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>