<?xml version="1.0"?>
<robot name="Couch_f20e7a860fca9179d57c8a5f8e280cfb">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/f20e7a860fca9179d57c8a5f8e280cfb.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/f20e7a860fca9179d57c8a5f8e280cfb.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>