<?xml version="1.0"?>
<robot name="Couch_a98956209f6723a2dedecd2df7bf25e3">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/a98956209f6723a2dedecd2df7bf25e3.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/a98956209f6723a2dedecd2df7bf25e3.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>