<?xml version="1.0"?>
<robot name="Couch_72b7ad431f8c4aa2f5520a8b6a5d82e0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/72b7ad431f8c4aa2f5520a8b6a5d82e0.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/72b7ad431f8c4aa2f5520a8b6a5d82e0.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>