<?xml version="1.0"?>
<robot name="Couch_ae1fd69e00c00a0253116daf5a10d9c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/ae1fd69e00c00a0253116daf5a10d9c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/ae1fd69e00c00a0253116daf5a10d9c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>