<?xml version="1.0"?>
<robot name="Couch_4820b629990b6a20860f0fe00407fa79">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/4820b629990b6a20860f0fe00407fa79.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/4820b629990b6a20860f0fe00407fa79.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>