<?xml version="1.0"?>
<robot name="Couch_1914d0e6b9f0445b40e80a2d9f005aa7">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/1914d0e6b9f0445b40e80a2d9f005aa7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/1914d0e6b9f0445b40e80a2d9f005aa7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>