<?xml version="1.0"?>
<robot name="Couch_770bf9d88c7f039227eb00c151c6f711">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/770bf9d88c7f039227eb00c151c6f711.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Couch/770bf9d88c7f039227eb00c151c6f711.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>