<?xml version="1.0"?>
<robot name="Credenza_112484c16b98270710d543c5222bbf6d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Credenza/112484c16b98270710d543c5222bbf6d.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Credenza/112484c16b98270710d543c5222bbf6d.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>