<?xml version="1.0"?>
<robot name="Curtain_6f3d60e2b7bcab7d6bdcd672c2b17215">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Curtain/6f3d60e2b7bcab7d6bdcd672c2b17215.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Curtain/6f3d60e2b7bcab7d6bdcd672c2b17215.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>