<?xml version="1.0"?>
<robot name="Curtain_e2b1131908ece2d83c43ff465f8993d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Curtain/e2b1131908ece2d83c43ff465f8993d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Curtain/e2b1131908ece2d83c43ff465f8993d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>