<?xml version="1.0"?>
<robot name="Curtain_4d26b3a01d323ba27a845b3267216856">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Curtain/4d26b3a01d323ba27a845b3267216856.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Curtain/4d26b3a01d323ba27a845b3267216856.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>