<?xml version="1.0"?>
<robot name="Desktop_fba61cfcea3a4c52cec0dfc6197dbbb5">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/fba61cfcea3a4c52cec0dfc6197dbbb5.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/fba61cfcea3a4c52cec0dfc6197dbbb5.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>