<?xml version="1.0"?>
<robot name="Desktop_fd7b14f3e5c58b2e84da0a0f266ade28">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/fd7b14f3e5c58b2e84da0a0f266ade28.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/fd7b14f3e5c58b2e84da0a0f266ade28.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>