<?xml version="1.0"?>
<robot name="DeskLamp_efb047ee54f6a024fd5f00d1c8d5ab1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DeskLamp/efb047ee54f6a024fd5f00d1c8d5ab1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DeskLamp/efb047ee54f6a024fd5f00d1c8d5ab1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>