<?xml version="1.0"?>
<robot name="DeskLamp_551b22085945d144127621b5d3c4d1ab">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DeskLamp/551b22085945d144127621b5d3c4d1ab.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DeskLamp/551b22085945d144127621b5d3c4d1ab.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>