<?xml version="1.0"?>
<robot name="Desktop_102a6b7809f4e51813842bc8ef6fe18">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/102a6b7809f4e51813842bc8ef6fe18.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/102a6b7809f4e51813842bc8ef6fe18.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>