<?xml version="1.0"?>
<robot name="Desk_a02b052927a00a58568f5d1b69b4d09f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/a02b052927a00a58568f5d1b69b4d09f.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/a02b052927a00a58568f5d1b69b4d09f.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>