<?xml version="1.0"?>
<robot name="Desktop_c6140b1685f4af353ec63ba95b65e3e0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/c6140b1685f4af353ec63ba95b65e3e0.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/c6140b1685f4af353ec63ba95b65e3e0.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>