<?xml version="1.0"?>
<robot name="Desktop_3c8e1b76539879cbd460222cb89ed054">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/3c8e1b76539879cbd460222cb89ed054.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/3c8e1b76539879cbd460222cb89ed054.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>