<?xml version="1.0"?>
<robot name="Desk_d56f9f6d63b1fd0d812e3ecbeaae3980">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/d56f9f6d63b1fd0d812e3ecbeaae3980.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/d56f9f6d63b1fd0d812e3ecbeaae3980.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>