<?xml version="1.0"?>
<robot name="Desk_6137e19255f71a0a26700e14156d231c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/6137e19255f71a0a26700e14156d231c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/6137e19255f71a0a26700e14156d231c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>