<?xml version="1.0"?>
<robot name="Desktop_76fdad0974b86b765e29ce2c9d37b952">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/76fdad0974b86b765e29ce2c9d37b952.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/76fdad0974b86b765e29ce2c9d37b952.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>