<?xml version="1.0"?>
<robot name="Desktop_9ed80026999b40a0c52f71eb5231e856">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/9ed80026999b40a0c52f71eb5231e856.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/9ed80026999b40a0c52f71eb5231e856.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>