<?xml version="1.0"?>
<robot name="Desktop_66d438bfe4c0d94b8857f7f29fcde7bd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/66d438bfe4c0d94b8857f7f29fcde7bd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/66d438bfe4c0d94b8857f7f29fcde7bd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>