<?xml version="1.0"?>
<robot name="Desk_ba52d8aed2dd75bba75f2876a99ed045">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/ba52d8aed2dd75bba75f2876a99ed045.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desk/ba52d8aed2dd75bba75f2876a99ed045.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>