<?xml version="1.0"?>
<robot name="Desktop_b8215c19532769b2c9db333562750d81">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/b8215c19532769b2c9db333562750d81.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Desktop/b8215c19532769b2c9db333562750d81.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>