<?xml version="1.0"?>
<robot name="DiningTable_2c730735f7f3e60f848ac41b30fbbc29">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DiningTable/2c730735f7f3e60f848ac41b30fbbc29.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DiningTable/2c730735f7f3e60f848ac41b30fbbc29.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>