<?xml version="1.0"?>
<robot name="DiningTable_f7a0f1e7e03fba8c9628f611995a13ab">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DiningTable/f7a0f1e7e03fba8c9628f611995a13ab.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DiningTable/f7a0f1e7e03fba8c9628f611995a13ab.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>