<?xml version="1.0"?>
<robot name="Donut_fabf4f7a56f75781c9c120e7b18610ad">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Donut/fabf4f7a56f75781c9c120e7b18610ad.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Donut/fabf4f7a56f75781c9c120e7b18610ad.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>