<?xml version="1.0"?>
<robot name="DoubleBed_5bbcf08fabf2d50336b41ce3eef1f5be">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DoubleBed/5bbcf08fabf2d50336b41ce3eef1f5be.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DoubleBed/5bbcf08fabf2d50336b41ce3eef1f5be.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>