<?xml version="1.0"?>
<robot name="Dresser_b484a8bc88b55c1050dfe5d3d82f3d77">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/b484a8bc88b55c1050dfe5d3d82f3d77.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/b484a8bc88b55c1050dfe5d3d82f3d77.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>