<?xml version="1.0"?>
<robot name="Dresser_5ca6bde518fc1b95bdfb3fb57c9ed4dc">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/5ca6bde518fc1b95bdfb3fb57c9ed4dc.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/5ca6bde518fc1b95bdfb3fb57c9ed4dc.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>