<?xml version="1.0"?>
<robot name="Dresser_65dcdb468234c4f64e2e1b2af0cc59a7">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/65dcdb468234c4f64e2e1b2af0cc59a7.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/65dcdb468234c4f64e2e1b2af0cc59a7.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>