<?xml version="1.0"?>
<robot name="Dresser_1d77871ac5dc1522a5e3e028709e0474">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/1d77871ac5dc1522a5e3e028709e0474.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/1d77871ac5dc1522a5e3e028709e0474.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>