<?xml version="1.0"?>
<robot name="Dresser_96547cd6ffbdf95ff235a5a36b93e55c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/96547cd6ffbdf95ff235a5a36b93e55c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/96547cd6ffbdf95ff235a5a36b93e55c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>