<?xml version="1.0"?>
<robot name="Dresser_1997e441f11cc183eacb155f400b9076">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/1997e441f11cc183eacb155f400b9076.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/1997e441f11cc183eacb155f400b9076.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>