<?xml version="1.0"?>
<robot name="DresserWithMirror_ac64eadd9e8139c6a0f1202f391a1c2a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DresserWithMirror/ac64eadd9e8139c6a0f1202f391a1c2a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DresserWithMirror/ac64eadd9e8139c6a0f1202f391a1c2a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>