<?xml version="1.0"?>
<robot name="Dresser_167f3edcf839000063ecd64ef0e6814c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/167f3edcf839000063ecd64ef0e6814c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Dresser/167f3edcf839000063ecd64ef0e6814c.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>