<?xml version="1.0"?>
<robot name="DresserWithMirror_12917ced4d5465c5f08b8467bda831">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DresserWithMirror/12917ced4d5465c5f08b8467bda831.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DresserWithMirror/12917ced4d5465c5f08b8467bda831.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>