<?xml version="1.0"?>
<robot name="DrinkBottle_738d7eb5c8800842f8060bac8721179">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DrinkBottle/738d7eb5c8800842f8060bac8721179.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DrinkBottle/738d7eb5c8800842f8060bac8721179.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>