<?xml version="1.0"?>
<robot name="DrinkingUtensil_a0c1d7de5f9c08b69154bae3578e13c1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DrinkingUtensil/a0c1d7de5f9c08b69154bae3578e13c1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/DrinkingUtensil/a0c1d7de5f9c08b69154bae3578e13c1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>