<?xml version="1.0"?>
<robot name="EndTable_aead6a0a5e349c26588b4772be6316fb">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/EndTable/aead6a0a5e349c26588b4772be6316fb.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/EndTable/aead6a0a5e349c26588b4772be6316fb.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>