<?xml version="1.0"?>
<robot name="EndTable_bd88c7739efbecd91b4b790955c17432">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/EndTable/bd88c7739efbecd91b4b790955c17432.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/EndTable/bd88c7739efbecd91b4b790955c17432.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>