<?xml version="1.0"?>
<robot name="Fan_efdfdb552d44891087e003cf983ff53d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fan/efdfdb552d44891087e003cf983ff53d.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fan/efdfdb552d44891087e003cf983ff53d.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>