<?xml version="1.0"?>
<robot name="Faucet_d7cf692d85e4e7744ba6ca09672977ec">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Faucet/d7cf692d85e4e7744ba6ca09672977ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Faucet/d7cf692d85e4e7744ba6ca09672977ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>