<?xml version="1.0"?>
<robot name="FileCabinet_1880ed173d662f92c78621ab7e0ef193">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FileCabinet/1880ed173d662f92c78621ab7e0ef193.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FileCabinet/1880ed173d662f92c78621ab7e0ef193.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>