<?xml version="1.0"?>
<robot name="Fireplace_83c33ab5e108f688657bf7ec906f4721">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fireplace/83c33ab5e108f688657bf7ec906f4721.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fireplace/83c33ab5e108f688657bf7ec906f4721.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>