<?xml version="1.0"?>
<robot name="Fireplace_7d9f29727e55d2b19eeed882992d9dd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fireplace/7d9f29727e55d2b19eeed882992d9dd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fireplace/7d9f29727e55d2b19eeed882992d9dd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>