<?xml version="1.0"?>
<robot name="Fireplace_ed0f8cdf2af37f31cbe09608477dec84">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fireplace/ed0f8cdf2af37f31cbe09608477dec84.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fireplace/ed0f8cdf2af37f31cbe09608477dec84.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>