<?xml version="1.0"?>
<robot name="FloorLamp_e29e22d0033e6ccee938fdd9451c3206">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FloorLamp/e29e22d0033e6ccee938fdd9451c3206.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FloorLamp/e29e22d0033e6ccee938fdd9451c3206.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>