<?xml version="1.0"?>
<robot name="FloorLamp_d2a4c36321c50c06d28b52ade6c7e48">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FloorLamp/d2a4c36321c50c06d28b52ade6c7e48.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FloorLamp/d2a4c36321c50c06d28b52ade6c7e48.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>