<?xml version="1.0"?>
<robot name="FloorLamp_5854a955cf150cf0cf004563556ddb36">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FloorLamp/5854a955cf150cf0cf004563556ddb36.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FloorLamp/5854a955cf150cf0cf004563556ddb36.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>