<?xml version="1.0"?>
<robot name="FoodItem_aa4fd8001f20bd4be990a52d354ad8ae">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FoodItem/aa4fd8001f20bd4be990a52d354ad8ae.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FoodItem/aa4fd8001f20bd4be990a52d354ad8ae.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>