<?xml version="1.0"?>
<robot name="FoodItem_75c393b168565dd6c46fc34badacc65d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FoodItem/75c393b168565dd6c46fc34badacc65d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/FoodItem/75c393b168565dd6c46fc34badacc65d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>