<?xml version="1.0"?>
<robot name="Fruit_118644ba80aa5048ac59fb466121cd17">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fruit/118644ba80aa5048ac59fb466121cd17.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fruit/118644ba80aa5048ac59fb466121cd17.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>