<?xml version="1.0"?>
<robot name="Fruit_b095a1c41447e9da887d2d6e4a6617b3">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fruit/b095a1c41447e9da887d2d6e4a6617b3.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Fruit/b095a1c41447e9da887d2d6e4a6617b3.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>