<?xml version="1.0"?>
<robot name="GameTable_d8f848c8bbb0d39ed8f15a30bd7fd391">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/GameTable/d8f848c8bbb0d39ed8f15a30bd7fd391.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/GameTable/d8f848c8bbb0d39ed8f15a30bd7fd391.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>