<?xml version="1.0"?>
<robot name="GameTable_505a7d1ac1b92bcab398a1cfd1079875">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/GameTable/505a7d1ac1b92bcab398a1cfd1079875.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/GameTable/505a7d1ac1b92bcab398a1cfd1079875.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>