<?xml version="1.0"?>
<robot name="Guitar_33de308860b6c012cb539f5b213b6f56">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Guitar/33de308860b6c012cb539f5b213b6f56.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Guitar/33de308860b6c012cb539f5b213b6f56.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>