<?xml version="1.0"?>
<robot name="Guitar_4dd3b42e67a19210925e0edb2365fb11">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Guitar/4dd3b42e67a19210925e0edb2365fb11.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Guitar/4dd3b42e67a19210925e0edb2365fb11.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>