<?xml version="1.0"?>
<robot name="Gun_391e01226bccecab1d74bbc1a32c7aba">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/391e01226bccecab1d74bbc1a32c7aba.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/391e01226bccecab1d74bbc1a32c7aba.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>