<?xml version="1.0"?>
<robot name="Gun_b3aff6ae294ca192a39f4142bd0ee703">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/b3aff6ae294ca192a39f4142bd0ee703.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/b3aff6ae294ca192a39f4142bd0ee703.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>