<?xml version="1.0"?>
<robot name="Gun_34eb31e5ac8802246f2614b47f532d63">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/34eb31e5ac8802246f2614b47f532d63.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/34eb31e5ac8802246f2614b47f532d63.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>