<?xml version="1.0"?>
<robot name="Gun_d601235af9b5e93e49f0e3dd7767881">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/d601235af9b5e93e49f0e3dd7767881.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Gun/d601235af9b5e93e49f0e3dd7767881.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>