<?xml version="1.0"?>
<robot name="Hammer_3a7840f2b310d62294a9d0491b6eccf9">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Hammer/3a7840f2b310d62294a9d0491b6eccf9.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Hammer/3a7840f2b310d62294a9d0491b6eccf9.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>