<?xml version="1.0"?>
<robot name="Hammer_5d4da30b8c0eaae46d7014c7d6ce68fc">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Hammer/5d4da30b8c0eaae46d7014c7d6ce68fc.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Hammer/5d4da30b8c0eaae46d7014c7d6ce68fc.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>