<?xml version="1.0"?>
<robot name="Headphones_90b4111dd6d3d7c82f664f563dc2f43d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Headphones/90b4111dd6d3d7c82f664f563dc2f43d.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Headphones/90b4111dd6d3d7c82f664f563dc2f43d.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>