<?xml version="1.0"?>
<robot name="Headphones_190fc461bd1e0759ee2a04c68bc263be">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Headphones/190fc461bd1e0759ee2a04c68bc263be.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Headphones/190fc461bd1e0759ee2a04c68bc263be.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>