<?xml version="1.0"?>
<robot name="Helicopter_18d98a30b95b2a6c43a2c9be7299f0de">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Helicopter/18d98a30b95b2a6c43a2c9be7299f0de.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Helicopter/18d98a30b95b2a6c43a2c9be7299f0de.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>