<?xml version="1.0"?>
<robot name="Horse_bd880918b6c669cf5d4e52dd52abcb3d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Horse/bd880918b6c669cf5d4e52dd52abcb3d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Horse/bd880918b6c669cf5d4e52dd52abcb3d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>