<?xml version="1.0"?>
<robot name="Keyboard_6a2f5446b2d6c06d5bbea6ee257e41cc">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Keyboard/6a2f5446b2d6c06d5bbea6ee257e41cc.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Keyboard/6a2f5446b2d6c06d5bbea6ee257e41cc.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>