<?xml version="1.0"?>
<robot name="KingBed_b1af661c926e74615a4a3a6ded5ce6ce">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/KingBed/b1af661c926e74615a4a3a6ded5ce6ce.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/KingBed/b1af661c926e74615a4a3a6ded5ce6ce.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>