<?xml version="1.0"?>
<robot name="KingBed_74690357d26cd37eb50d0c6a0c254040">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/KingBed/74690357d26cd37eb50d0c6a0c254040.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/KingBed/74690357d26cd37eb50d0c6a0c254040.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>