<?xml version="1.0"?>
<robot name="Knife_dac1fc01fb44b2b9cb7078d644842b01">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Knife/dac1fc01fb44b2b9cb7078d644842b01.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Knife/dac1fc01fb44b2b9cb7078d644842b01.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>