<?xml version="1.0"?>
<robot name="Knife_e0f22e1c6d90923a81fbe2a60fd5a955">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Knife/e0f22e1c6d90923a81fbe2a60fd5a955.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Knife/e0f22e1c6d90923a81fbe2a60fd5a955.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>