<?xml version="1.0"?>
<robot name="Lamp_d1402932e52dcbe4bd944a684eb3fdb0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Lamp/d1402932e52dcbe4bd944a684eb3fdb0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Lamp/d1402932e52dcbe4bd944a684eb3fdb0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>