<?xml version="1.0"?>
<robot name="LampPost_6b28111e92f88fd535d937bce0851eef">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/LampPost/6b28111e92f88fd535d937bce0851eef.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/LampPost/6b28111e92f88fd535d937bce0851eef.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>