<?xml version="1.0"?>
<robot name="Laptop_b17dacf84762204838b5978c14482350">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/b17dacf84762204838b5978c14482350.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/b17dacf84762204838b5978c14482350.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>