<?xml version="1.0"?>
<robot name="Laptop_bdffc02ab69552091185c4b7285136bf">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/bdffc02ab69552091185c4b7285136bf.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/bdffc02ab69552091185c4b7285136bf.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>