<?xml version="1.0"?>
<robot name="Laptop_801b1a02bb7225a1cb785c160642ee24">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/801b1a02bb7225a1cb785c160642ee24.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/801b1a02bb7225a1cb785c160642ee24.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>