<?xml version="1.0"?>
<robot name="Laptop_151fccb37c2d51b0b82fa571a1cdbf24">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/151fccb37c2d51b0b82fa571a1cdbf24.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/151fccb37c2d51b0b82fa571a1cdbf24.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>