<?xml version="1.0"?>
<robot name="Laptop_3e64b275e8ca0fd6c15df58910515c8b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/3e64b275e8ca0fd6c15df58910515c8b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/3e64b275e8ca0fd6c15df58910515c8b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>