<?xml version="1.0"?>
<robot name="Laptop_53bdcb3c0b28a51b580ee4476b0b0ff">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/53bdcb3c0b28a51b580ee4476b0b0ff.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/53bdcb3c0b28a51b580ee4476b0b0ff.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>