<?xml version="1.0"?>
<robot name="Laptop_7a6b074fec1b8b9c810b27ad0ef73ed">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/7a6b074fec1b8b9c810b27ad0ef73ed.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Laptop/7a6b074fec1b8b9c810b27ad0ef73ed.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>