<?xml version="1.0"?>
<robot name="LightSwitch_b3bdb6c331467aeeff643b6971c915c2">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/LightSwitch/b3bdb6c331467aeeff643b6971c915c2.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/LightSwitch/b3bdb6c331467aeeff643b6971c915c2.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>