<?xml version="1.0"?>
<robot name="LightSwitch_9d8fcb612d8aae42eab3b190aa103f4a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/LightSwitch/9d8fcb612d8aae42eab3b190aa103f4a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/LightSwitch/9d8fcb612d8aae42eab3b190aa103f4a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>