<?xml version="1.0"?>
<robot name="Loveseat_e9d6a366a92a61d979c851829c339535">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Loveseat/e9d6a366a92a61d979c851829c339535.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Loveseat/e9d6a366a92a61d979c851829c339535.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>