<?xml version="1.0"?>
<robot name="MediaPlayer_4075f824a267ee9a7b57656ad49daed">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/4075f824a267ee9a7b57656ad49daed.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/4075f824a267ee9a7b57656ad49daed.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>