<?xml version="1.0"?>
<robot name="MediaPlayer_1cbc0504316634ed80f698ab340a8570">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/1cbc0504316634ed80f698ab340a8570.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/1cbc0504316634ed80f698ab340a8570.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>