<?xml version="1.0"?>
<robot name="MediaPlayer_98bf64664c9e0019a93f4aa756700202">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/98bf64664c9e0019a93f4aa756700202.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/98bf64664c9e0019a93f4aa756700202.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>