<?xml version="1.0"?>
<robot name="MediaPlayer_39ea97635a2d791bb94fa157669fbc99">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/39ea97635a2d791bb94fa157669fbc99.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/39ea97635a2d791bb94fa157669fbc99.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>