<?xml version="1.0"?>
<robot name="MediaPlayer_d41b8e90f3e30437f0c6f578f0594c3">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/d41b8e90f3e30437f0c6f578f0594c3.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/MediaPlayer/d41b8e90f3e30437f0c6f578f0594c3.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>