<?xml version="1.0"?>
<robot name="Microwave_53e7aa67f02d1f2d4fde68aa70e53a1a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Microwave/53e7aa67f02d1f2d4fde68aa70e53a1a.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Microwave/53e7aa67f02d1f2d4fde68aa70e53a1a.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>