<?xml version="1.0"?>
<robot name="Mirror_b5787ebfe1c5b31f68661782af60b711">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mirror/b5787ebfe1c5b31f68661782af60b711.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mirror/b5787ebfe1c5b31f68661782af60b711.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>