<?xml version="1.0"?>
<robot name="Monitor_31f6f2b4bb6c524cab1a5567c60e2688">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/31f6f2b4bb6c524cab1a5567c60e2688.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/31f6f2b4bb6c524cab1a5567c60e2688.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>