<?xml version="1.0"?>
<robot name="Monitor_94001a0000497e8ae4b68d3b17c43658">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/94001a0000497e8ae4b68d3b17c43658.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/94001a0000497e8ae4b68d3b17c43658.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>