<?xml version="1.0"?>
<robot name="Monitor_78e7b27f68570f3c47dcca01880c200f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/78e7b27f68570f3c47dcca01880c200f.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/78e7b27f68570f3c47dcca01880c200f.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>