<?xml version="1.0"?>
<robot name="Monitor_2a893bd2f5cc57f4ef8ce7b458b583e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/2a893bd2f5cc57f4ef8ce7b458b583e.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Monitor/2a893bd2f5cc57f4ef8ce7b458b583e.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>