<?xml version="1.0"?>
<robot name="Mug_c7f8d39c406fee941050b055aafa6fb8">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mug/c7f8d39c406fee941050b055aafa6fb8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mug/c7f8d39c406fee941050b055aafa6fb8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>