<?xml version="1.0"?>
<robot name="Mug_1ea9ea99ac8ed233bf355ac8109b9988">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mug/1ea9ea99ac8ed233bf355ac8109b9988.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mug/1ea9ea99ac8ed233bf355ac8109b9988.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>