<?xml version="1.0"?>
<robot name="Mug_48e260a614c0fd4434a8988fdcee4fde">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mug/48e260a614c0fd4434a8988fdcee4fde.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Mug/48e260a614c0fd4434a8988fdcee4fde.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>