<?xml version="1.0"?>
<robot name="Nightstand_54b4555dacd9fc16e1eb1991fb37eb9b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Nightstand/54b4555dacd9fc16e1eb1991fb37eb9b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Nightstand/54b4555dacd9fc16e1eb1991fb37eb9b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>