<?xml version="1.0"?>
<robot name="Nightstand_2bc37c326782ecfb9bbc8ad5ece3c1b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Nightstand/2bc37c326782ecfb9bbc8ad5ece3c1b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Nightstand/2bc37c326782ecfb9bbc8ad5ece3c1b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>