<?xml version="1.0"?>
<robot name="NintendoDS_a23e5dcfe34892ea4cc8ca1e1f7e5af1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/NintendoDS/a23e5dcfe34892ea4cc8ca1e1f7e5af1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/NintendoDS/a23e5dcfe34892ea4cc8ca1e1f7e5af1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>