<?xml version="1.0"?>
<robot name="OfficeSideChair_2c052f5541d4d5689b2d7f86be5d0083">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeSideChair/2c052f5541d4d5689b2d7f86be5d0083.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeSideChair/2c052f5541d4d5689b2d7f86be5d0083.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>