<?xml version="1.0"?>
<robot name="OfficeChair_cbbbb3aebaf2e112ca07b3f65fc99919">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/cbbbb3aebaf2e112ca07b3f65fc99919.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/cbbbb3aebaf2e112ca07b3f65fc99919.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>