<?xml version="1.0"?>
<robot name="OfficeSideChair_d91457217673528ef91663a74ccd2338">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeSideChair/d91457217673528ef91663a74ccd2338.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeSideChair/d91457217673528ef91663a74ccd2338.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>