<?xml version="1.0"?>
<robot name="OfficeChair_b2ded1854643f1451c1b3b2ed8d13bf8">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/b2ded1854643f1451c1b3b2ed8d13bf8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/b2ded1854643f1451c1b3b2ed8d13bf8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>