<?xml version="1.0"?>
<robot name="OfficeChair_27fef9fcdec5a001f8f60938be4e769">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/27fef9fcdec5a001f8f60938be4e769.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/27fef9fcdec5a001f8f60938be4e769.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>