<?xml version="1.0"?>
<robot name="OfficeChair_b5de329e6cf29a4fe08fb93077a4e497">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/b5de329e6cf29a4fe08fb93077a4e497.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/b5de329e6cf29a4fe08fb93077a4e497.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>