<?xml version="1.0"?>
<robot name="OfficeSideChair_2a56e3e2a6505ec492d9da2668ec34c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeSideChair/2a56e3e2a6505ec492d9da2668ec34c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeSideChair/2a56e3e2a6505ec492d9da2668ec34c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>