<?xml version="1.0"?>
<robot name="OfficeChair_f6ff3b66e6b33aac4a71cad339b19319">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/f6ff3b66e6b33aac4a71cad339b19319.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OfficeChair/f6ff3b66e6b33aac4a71cad339b19319.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>