<?xml version="1.0"?>
<robot name="OutdoorTable_8fad924f79e60b1692048306732789ec">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OutdoorTable/8fad924f79e60b1692048306732789ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/OutdoorTable/8fad924f79e60b1692048306732789ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>