<?xml version="1.0"?>
<robot name="Oven_ef038ea23a0711bc3a10425a332ca4d8">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/ef038ea23a0711bc3a10425a332ca4d8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/ef038ea23a0711bc3a10425a332ca4d8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>