<?xml version="1.0"?>
<robot name="Oven_b3e723d0231066a45a1bada754e9e91">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/b3e723d0231066a45a1bada754e9e91.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/b3e723d0231066a45a1bada754e9e91.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>