<?xml version="1.0"?>
<robot name="Oven_89c6ad5e5223d29f112ca50c8eb86c95">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/89c6ad5e5223d29f112ca50c8eb86c95.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/89c6ad5e5223d29f112ca50c8eb86c95.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>