<?xml version="1.0"?>
<robot name="Oven_7bddc990442a3c6ea8ab8175d04e5764">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/7bddc990442a3c6ea8ab8175d04e5764.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Oven/7bddc990442a3c6ea8ab8175d04e5764.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>