<?xml version="1.0"?>
<robot name="Painting_8056dddbcffc8cdcd4730b65b6da481a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Painting/8056dddbcffc8cdcd4730b65b6da481a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Painting/8056dddbcffc8cdcd4730b65b6da481a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>