<?xml version="1.0"?>
<robot name="Painting_8044ce302b942f3a1eaca3a40b72810b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Painting/8044ce302b942f3a1eaca3a40b72810b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Painting/8044ce302b942f3a1eaca3a40b72810b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>