<?xml version="1.0"?>
<robot name="PaperClip_4460f9aeaaca40b7d8567f2d9ac4ae37">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperClip/4460f9aeaaca40b7d8567f2d9ac4ae37.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperClip/4460f9aeaaca40b7d8567f2d9ac4ae37.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>