<?xml version="1.0"?>
<robot name="PaperBox_80b66058b5cc420261179e7ef17bf7b5">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperBox/80b66058b5cc420261179e7ef17bf7b5.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperBox/80b66058b5cc420261179e7ef17bf7b5.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>