<?xml version="1.0"?>
<robot name="PaperClip_eae0ad4338f22f3f7c8489092272d18">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperClip/eae0ad4338f22f3f7c8489092272d18.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperClip/eae0ad4338f22f3f7c8489092272d18.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>