<?xml version="1.0"?>
<robot name="PaperBox_be67e4f262d2053eccf7aef4eb2e6c55">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperBox/be67e4f262d2053eccf7aef4eb2e6c55.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PaperBox/be67e4f262d2053eccf7aef4eb2e6c55.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>