<?xml version="1.0"?>
<robot name="Pen_e529f98d6e111b67625ac64d4da8b7e4">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pen/e529f98d6e111b67625ac64d4da8b7e4.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pen/e529f98d6e111b67625ac64d4da8b7e4.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>