<?xml version="1.0"?>
<robot name="Pen_e729f6bff8f325152daa89e31f28255d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pen/e729f6bff8f325152daa89e31f28255d.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pen/e729f6bff8f325152daa89e31f28255d.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>