<?xml version="1.0"?>
<robot name="Pencil_6fa71ae77dd291c15b17c2a5cd4d64a1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/6fa71ae77dd291c15b17c2a5cd4d64a1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/6fa71ae77dd291c15b17c2a5cd4d64a1.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>