<?xml version="1.0"?>
<robot name="Pencil_219ce66612fd8d5499595b5eac8bb350">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/219ce66612fd8d5499595b5eac8bb350.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/219ce66612fd8d5499595b5eac8bb350.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>