<?xml version="1.0"?>
<robot name="Pencil_c22d177a994f375e13b26514934fe9c4">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/c22d177a994f375e13b26514934fe9c4.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/c22d177a994f375e13b26514934fe9c4.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>