<?xml version="1.0"?>
<robot name="Pencil_5db4780fb3202c845cf9a6bcc38ca7cc">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/5db4780fb3202c845cf9a6bcc38ca7cc.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pencil/5db4780fb3202c845cf9a6bcc38ca7cc.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>