<?xml version="1.0"?>
<robot name="PersonStanding_e633b7edc31899df319f3cc017916fee">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PersonStanding/e633b7edc31899df319f3cc017916fee.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PersonStanding/e633b7edc31899df319f3cc017916fee.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>