<?xml version="1.0"?>
<robot name="PianoKeyboard_ef4477d93024243dafd91e5a00476f65">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/ef4477d93024243dafd91e5a00476f65.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/ef4477d93024243dafd91e5a00476f65.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>