<?xml version="1.0"?>
<robot name="PianoKeyboard_87115561afe473cc363315335dd461ec">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/87115561afe473cc363315335dd461ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/87115561afe473cc363315335dd461ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>