<?xml version="1.0"?>
<robot name="Piano_7aa18769bd5d996934d6aa31914c287d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Piano/7aa18769bd5d996934d6aa31914c287d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Piano/7aa18769bd5d996934d6aa31914c287d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>