<?xml version="1.0"?>
<robot name="PianoKeyboard_307b4e9f74610a8ed0020d198ca98cdb">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/307b4e9f74610a8ed0020d198ca98cdb.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/307b4e9f74610a8ed0020d198ca98cdb.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>