<?xml version="1.0"?>
<robot name="Piano_6a96d703d058790fa6491c91cd8d7770">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Piano/6a96d703d058790fa6491c91cd8d7770.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Piano/6a96d703d058790fa6491c91cd8d7770.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>