<?xml version="1.0"?>
<robot name="PianoKeyboard_f62315610759fc43226bd8f2c3d7bd55">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/f62315610759fc43226bd8f2c3d7bd55.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PianoKeyboard/f62315610759fc43226bd8f2c3d7bd55.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>