<?xml version="1.0"?>
<robot name="Piano_e963ffa0699ae9e45e244aa0433fda37">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Piano/e963ffa0699ae9e45e244aa0433fda37.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Piano/e963ffa0699ae9e45e244aa0433fda37.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>