<?xml version="1.0"?>
<robot name="Picture_9c3e1c8f843314cd9c6a2448149940d9">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Picture/9c3e1c8f843314cd9c6a2448149940d9.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Picture/9c3e1c8f843314cd9c6a2448149940d9.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>