<?xml version="1.0"?>
<robot name="PictureFrame_21c04a0fa52d7c717a770b475753ca78">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PictureFrame/21c04a0fa52d7c717a770b475753ca78.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PictureFrame/21c04a0fa52d7c717a770b475753ca78.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>