<?xml version="1.0"?>
<robot name="PictureFrame_e5fb25b56c43161cb55b79705f5d2d88">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PictureFrame/e5fb25b56c43161cb55b79705f5d2d88.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PictureFrame/e5fb25b56c43161cb55b79705f5d2d88.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>