<?xml version="1.0"?>
<robot name="Pillow_a0903daa3dfa996837b2bb75885cfc44">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pillow/a0903daa3dfa996837b2bb75885cfc44.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pillow/a0903daa3dfa996837b2bb75885cfc44.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>