<?xml version="1.0"?>
<robot name="PillBottle_6bfcacdff00d57c633774da3deff863">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PillBottle/6bfcacdff00d57c633774da3deff863.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PillBottle/6bfcacdff00d57c633774da3deff863.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>