<?xml version="1.0"?>
<robot name="Pizza_b3a8ebcf6e9ca5852721058c5c629b05">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pizza/b3a8ebcf6e9ca5852721058c5c629b05.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Pizza/b3a8ebcf6e9ca5852721058c5c629b05.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>