<?xml version="1.0"?>
<robot name="Plant_fc181ad823eb31fb892da04628fdc4e0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Plant/fc181ad823eb31fb892da04628fdc4e0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Plant/fc181ad823eb31fb892da04628fdc4e0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>