<?xml version="1.0"?>
<robot name="Plant_5e731c84e9fd361955ec341d6ab59fc7">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Plant/5e731c84e9fd361955ec341d6ab59fc7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Plant/5e731c84e9fd361955ec341d6ab59fc7.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>