<?xml version="1.0"?>
<robot name="Poster_3ea29dcdc95144726750acc914d696ef">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Poster/3ea29dcdc95144726750acc914d696ef.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Poster/3ea29dcdc95144726750acc914d696ef.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>