<?xml version="1.0"?>
<robot name="Poster_328e22b37cdcc3421a0b944593ce0cfb">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Poster/328e22b37cdcc3421a0b944593ce0cfb.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Poster/328e22b37cdcc3421a0b944593ce0cfb.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>