<?xml version="1.0"?>
<robot name="PosterBed_90ed47303b284a8e8bd3a6724eacfb54">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PosterBed/90ed47303b284a8e8bd3a6724eacfb54.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PosterBed/90ed47303b284a8e8bd3a6724eacfb54.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>