<?xml version="1.0"?>
<robot name="PottedPlant_2cc4f4ee607298da4e49f891eed4593b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/2cc4f4ee607298da4e49f891eed4593b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/2cc4f4ee607298da4e49f891eed4593b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>