<?xml version="1.0"?>
<robot name="PottedPlant_f8a37a9da22f9e19c2ed3fce8969c0e9">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/f8a37a9da22f9e19c2ed3fce8969c0e9.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/f8a37a9da22f9e19c2ed3fce8969c0e9.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>