<?xml version="1.0"?>
<robot name="PottedPlant_8d0d51aca855152f8c5f8653702e8d09">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/8d0d51aca855152f8c5f8653702e8d09.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/8d0d51aca855152f8c5f8653702e8d09.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>