<?xml version="1.0"?>
<robot name="PottedPlant_e28d7ef99d87a7b48ad354a56ec6f2f9">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/e28d7ef99d87a7b48ad354a56ec6f2f9.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/e28d7ef99d87a7b48ad354a56ec6f2f9.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>