<?xml version="1.0"?>
<robot name="PottedPlant_9c00e85febb3950fbd353c96f0f6d633">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/9c00e85febb3950fbd353c96f0f6d633.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PottedPlant/9c00e85febb3950fbd353c96f0f6d633.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>