<?xml version="1.0"?>
<robot name="Printer_18306958742f8bfbab0b172d4dea80cd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/18306958742f8bfbab0b172d4dea80cd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/18306958742f8bfbab0b172d4dea80cd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>