<?xml version="1.0"?>
<robot name="Printer_df443a41d3b4f092d5805a1d6e49bc4e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/df443a41d3b4f092d5805a1d6e49bc4e.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/df443a41d3b4f092d5805a1d6e49bc4e.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>