<?xml version="1.0"?>
<robot name="Printer_a74db482402e533d9d23dd9e1ad481db">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/a74db482402e533d9d23dd9e1ad481db.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/a74db482402e533d9d23dd9e1ad481db.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>