<?xml version="1.0"?>
<robot name="Printer_ab08139c6b9c6fb8f35554ebed2bf2">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/ab08139c6b9c6fb8f35554ebed2bf2.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Printer/ab08139c6b9c6fb8f35554ebed2bf2.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>