<?xml version="1.0"?>
<robot name="PS2_4b684cba87483cdd5e07d9ea9f6e91c8">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PS2/4b684cba87483cdd5e07d9ea9f6e91c8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PS2/4b684cba87483cdd5e07d9ea9f6e91c8.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>