<?xml version="1.0"?>
<robot name="PS3_1fb628f164cd9061eddf855432d54f76">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PS3/1fb628f164cd9061eddf855432d54f76.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PS3/1fb628f164cd9061eddf855432d54f76.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>