<?xml version="1.0"?>
<robot name="PSP_2581265a7c81684b9141c153bb8dff6e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PSP/2581265a7c81684b9141c153bb8dff6e.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/PSP/2581265a7c81684b9141c153bb8dff6e.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>