<?xml version="1.0"?>
<robot name="QueenBed_3c8d9f3cae15c5b4a14ceb6c31aad9bd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/QueenBed/3c8d9f3cae15c5b4a14ceb6c31aad9bd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/QueenBed/3c8d9f3cae15c5b4a14ceb6c31aad9bd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>