<?xml version="1.0"?>
<robot name="Rack_4f9a89a9f503832661aa9c14ed8c9268">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Rack/4f9a89a9f503832661aa9c14ed8c9268.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Rack/4f9a89a9f503832661aa9c14ed8c9268.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>