<?xml version="1.0"?>
<robot name="Radio_82cefc73d1ad85e7a2d0d0949f0233b1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Radio/82cefc73d1ad85e7a2d0d0949f0233b1.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Radio/82cefc73d1ad85e7a2d0d0949f0233b1.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>