<?xml version="1.0"?>
<robot name="Recliner_1c3f1a9cea91359c4c3e19c2c67c262f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Recliner/1c3f1a9cea91359c4c3e19c2c67c262f.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Recliner/1c3f1a9cea91359c4c3e19c2c67c262f.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>