<?xml version="1.0"?>
<robot name="Refrigerator_3a183e5df9df3cf8241e46a406e96e16">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/3a183e5df9df3cf8241e46a406e96e16.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/3a183e5df9df3cf8241e46a406e96e16.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>