<?xml version="1.0"?>
<robot name="Refrigerator_f31f7799f0333069b0d7b0d4230df8ca">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/f31f7799f0333069b0d7b0d4230df8ca.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/f31f7799f0333069b0d7b0d4230df8ca.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>