<?xml version="1.0"?>
<robot name="Refrigerator_392f9b7a08c8ba8718c6f74ea0d202aa">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/392f9b7a08c8ba8718c6f74ea0d202aa.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/392f9b7a08c8ba8718c6f74ea0d202aa.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>