<?xml version="1.0"?>
<robot name="Refrigerator_6966308db2ba9c618c476064b09f205e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/6966308db2ba9c618c476064b09f205e.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/6966308db2ba9c618c476064b09f205e.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>