<?xml version="1.0"?>
<robot name="Refrigerator_42de1b4244d8e8ba31e06831b84dedd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/42de1b4244d8e8ba31e06831b84dedd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/42de1b4244d8e8ba31e06831b84dedd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>