<?xml version="1.0"?>
<robot name="Refrigerator_95496308b3101ea0b02f4f3913a7bfd6">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/95496308b3101ea0b02f4f3913a7bfd6.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Refrigerator/95496308b3101ea0b02f4f3913a7bfd6.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>