<?xml version="1.0"?>
<robot name="Ring_e3dc57277af9cd8534e3dc3e4bb51b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Ring/e3dc57277af9cd8534e3dc3e4bb51b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Ring/e3dc57277af9cd8534e3dc3e4bb51b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>