<?xml version="1.0"?>
<robot name="RoundTable_23fe8ffecb37222b323ad87fe7d4deee">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/RoundTable/23fe8ffecb37222b323ad87fe7d4deee.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/RoundTable/23fe8ffecb37222b323ad87fe7d4deee.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>