<?xml version="1.0"?>
<robot name="Sectional_a6cd2326b2660ac9a4dc2316a7e66d36">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sectional/a6cd2326b2660ac9a4dc2316a7e66d36.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sectional/a6cd2326b2660ac9a4dc2316a7e66d36.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>