<?xml version="1.0"?>
<robot name="Sectional_d8de84e7c0f8cbb19473aab1da686220">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sectional/d8de84e7c0f8cbb19473aab1da686220.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sectional/d8de84e7c0f8cbb19473aab1da686220.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>