<?xml version="1.0"?>
<robot name="Shirt_44335bd42d45714113b545a1b395c76f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Shirt/44335bd42d45714113b545a1b395c76f.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Shirt/44335bd42d45714113b545a1b395c76f.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>