<?xml version="1.0"?>
<robot name="Sideboard_2bb2708bff12ba6b1f8d8332ee17945a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/2bb2708bff12ba6b1f8d8332ee17945a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/2bb2708bff12ba6b1f8d8332ee17945a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>