<?xml version="1.0"?>
<robot name="SideChair_d43f7db89fe864691e046801e2748f1a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/d43f7db89fe864691e046801e2748f1a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/d43f7db89fe864691e046801e2748f1a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>