<?xml version="1.0"?>
<robot name="SideChair_99d4e65625b32a1d151f08387c3363cb">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/99d4e65625b32a1d151f08387c3363cb.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/99d4e65625b32a1d151f08387c3363cb.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>