<?xml version="1.0"?>
<robot name="Sideboard_e29ee42465887d91298048b3f1b83027">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/e29ee42465887d91298048b3f1b83027.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/e29ee42465887d91298048b3f1b83027.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>