<?xml version="1.0"?>
<robot name="Sideboard_19f72b7fc85c1ef25199856068674539">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/19f72b7fc85c1ef25199856068674539.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/19f72b7fc85c1ef25199856068674539.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>