<?xml version="1.0"?>
<robot name="Sideboard_2a21b9d109d2fc958962005ce0e986db">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/2a21b9d109d2fc958962005ce0e986db.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sideboard/2a21b9d109d2fc958962005ce0e986db.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>