<?xml version="1.0"?>
<robot name="SideChair_77c02e92d5628be59db8ad97fd392b59">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/77c02e92d5628be59db8ad97fd392b59.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/77c02e92d5628be59db8ad97fd392b59.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>