<?xml version="1.0"?>
<robot name="SideChair_7b12801f2f4e5176d28af681b592671c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/7b12801f2f4e5176d28af681b592671c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SideChair/7b12801f2f4e5176d28af681b592671c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>