<?xml version="1.0"?>
<robot name="SingleBed_d4175a5d2373450698dd974bb058101">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SingleBed/d4175a5d2373450698dd974bb058101.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SingleBed/d4175a5d2373450698dd974bb058101.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>