<?xml version="1.0"?>
<robot name="SoapBar_b3718bdc7025004813f5ec8466b8a488">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SoapBar/b3718bdc7025004813f5ec8466b8a488.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SoapBar/b3718bdc7025004813f5ec8466b8a488.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>