<?xml version="1.0"?>
<robot name="SodaCan_3d4416f9ea426b76d9b6e49730554b10">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SodaCan/3d4416f9ea426b76d9b6e49730554b10.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SodaCan/3d4416f9ea426b76d9b6e49730554b10.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>