<?xml version="1.0"?>
<robot name="SodaCan_aeea9367551df34e8ff23e7e19499284">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SodaCan/aeea9367551df34e8ff23e7e19499284.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/SodaCan/aeea9367551df34e8ff23e7e19499284.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>