<?xml version="1.0"?>
<robot name="Speaker_b648f6cd54d07a1023e70120ea31089">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Speaker/b648f6cd54d07a1023e70120ea31089.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Speaker/b648f6cd54d07a1023e70120ea31089.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>