<?xml version="1.0"?>
<robot name="StandingClock_1944938643bdb1dd56538cee362f80d0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/StandingClock/1944938643bdb1dd56538cee362f80d0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/StandingClock/1944938643bdb1dd56538cee362f80d0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>