<?xml version="1.0"?>
<robot name="Sword_b8a80d9b8b22f6317c8fe1ec1244423b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sword/b8a80d9b8b22f6317c8fe1ec1244423b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sword/b8a80d9b8b22f6317c8fe1ec1244423b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>