<?xml version="1.0"?>
<robot name="Sword_42fc31544bbe70d486c8c5cceb64b114">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sword/42fc31544bbe70d486c8c5cceb64b114.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Sword/42fc31544bbe70d486c8c5cceb64b114.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>