<?xml version="1.0"?>
<robot name="TableLamp_605ddd207eed0d81414aaa1b9210e59a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TableLamp/605ddd207eed0d81414aaa1b9210e59a.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TableLamp/605ddd207eed0d81414aaa1b9210e59a.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>