<?xml version="1.0"?>
<robot name="Table_2f8a703639340812b96ac7572d4197cf">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Table/2f8a703639340812b96ac7572d4197cf.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Table/2f8a703639340812b96ac7572d4197cf.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>