<?xml version="1.0"?>
<robot name="TableLamp_6068920e350f1fcef04bb0474a98ba2b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TableLamp/6068920e350f1fcef04bb0474a98ba2b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TableLamp/6068920e350f1fcef04bb0474a98ba2b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>