<?xml version="1.0"?>
<robot name="TableLamp_a0eaf21e93e176c861af36d49e6d6f51">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TableLamp/a0eaf21e93e176c861af36d49e6d6f51.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TableLamp/a0eaf21e93e176c861af36d49e6d6f51.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>