<?xml version="1.0"?>
<robot name="Teapot_93c6553dc3f2ad11012cc02986a86c3">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Teapot/93c6553dc3f2ad11012cc02986a86c3.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Teapot/93c6553dc3f2ad11012cc02986a86c3.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>