<?xml version="1.0"?>
<robot name="Telephone_4e31c3e9575d744b916bc112690303c9">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Telephone/4e31c3e9575d744b916bc112690303c9.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Telephone/4e31c3e9575d744b916bc112690303c9.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>