<?xml version="1.0"?>
<robot name="ToiletPaper_6d7744653b2be81f7facec352d111d27">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToiletPaper/6d7744653b2be81f7facec352d111d27.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToiletPaper/6d7744653b2be81f7facec352d111d27.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>