<?xml version="1.0"?>
<robot name="Toilet_ce10e4e0d04c33e7322ed2ef5fc90e25">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Toilet/ce10e4e0d04c33e7322ed2ef5fc90e25.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Toilet/ce10e4e0d04c33e7322ed2ef5fc90e25.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>