<?xml version="1.0"?>
<robot name="ToiletPaper_6658857ea89df65ea35a7666f0cfa5bb">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToiletPaper/6658857ea89df65ea35a7666f0cfa5bb.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToiletPaper/6658857ea89df65ea35a7666f0cfa5bb.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>