<?xml version="1.0"?>
<robot name="ToyFigure_2180c4770b8c4fce951b9c885c695a12">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToyFigure/2180c4770b8c4fce951b9c885c695a12.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToyFigure/2180c4770b8c4fce951b9c885c695a12.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>