<?xml version="1.0"?>
<robot name="ToyFigure_88a8e1aa4abb50287c1f504c6aa026af">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToyFigure/88a8e1aa4abb50287c1f504c6aa026af.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToyFigure/88a8e1aa4abb50287c1f504c6aa026af.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>