<?xml version="1.0"?>
<robot name="ToyFigure_47204f6aaa776c7bf8208b6313b1ffa0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToyFigure/47204f6aaa776c7bf8208b6313b1ffa0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/ToyFigure/47204f6aaa776c7bf8208b6313b1ffa0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>