<?xml version="1.0"?>
<robot name="TrashBin_9ee464a3fb9d3e8e57cd6640bbeb736d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/9ee464a3fb9d3e8e57cd6640bbeb736d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/9ee464a3fb9d3e8e57cd6640bbeb736d.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>