<?xml version="1.0"?>
<robot name="TrashBin_b74e2ac0928725ba6f1c1d4ef8eeb77b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/b74e2ac0928725ba6f1c1d4ef8eeb77b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/b74e2ac0928725ba6f1c1d4ef8eeb77b.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>