<?xml version="1.0"?>
<robot name="TrashBin_77905cdb377b3c47cb2a965e75be701c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/77905cdb377b3c47cb2a965e75be701c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/77905cdb377b3c47cb2a965e75be701c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>