<?xml version="1.0"?>
<robot name="TrashBin_2f1aed8925147120c62ac18334863d36">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/2f1aed8925147120c62ac18334863d36.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/2f1aed8925147120c62ac18334863d36.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>