<?xml version="1.0"?>
<robot name="TrashBin_122c2614d9b5b0bc3a00cfa3e3cb7dc5">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/122c2614d9b5b0bc3a00cfa3e3cb7dc5.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/122c2614d9b5b0bc3a00cfa3e3cb7dc5.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>