<?xml version="1.0"?>
<robot name="TrashBin_f1108ab36ce63f2fe3bc44bb1006d615">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/f1108ab36ce63f2fe3bc44bb1006d615.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TrashBin/f1108ab36ce63f2fe3bc44bb1006d615.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>