<?xml version="1.0"?>
<robot name="Truck_623f58e97b32cd9bce27281f3b76d1f5">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Truck/623f58e97b32cd9bce27281f3b76d1f5.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Truck/623f58e97b32cd9bce27281f3b76d1f5.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>