<?xml version="1.0"?>
<robot name="TV_23c235e1d534d51f71c47feecca8dcfd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/23c235e1d534d51f71c47feecca8dcfd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/23c235e1d534d51f71c47feecca8dcfd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>