<?xml version="1.0"?>
<robot name="TV_2c2c84c5df569572c2296ee6c3b4c46f">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/2c2c84c5df569572c2296ee6c3b4c46f.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/2c2c84c5df569572c2296ee6c3b4c46f.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>