<?xml version="1.0"?>
<robot name="TV_3e37ad9269a5555e7e22b6256c5bf7ec">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/3e37ad9269a5555e7e22b6256c5bf7ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/3e37ad9269a5555e7e22b6256c5bf7ec.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>