<?xml version="1.0"?>
<robot name="TV_76a8379c447d3c5fa53cd01ae99b50bd">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/76a8379c447d3c5fa53cd01ae99b50bd.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/76a8379c447d3c5fa53cd01ae99b50bd.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>