<?xml version="1.0"?>
<robot name="TV_a4f0abff13c9c4b767bc4804d569adc4">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/a4f0abff13c9c4b767bc4804d569adc4.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/a4f0abff13c9c4b767bc4804d569adc4.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>