<?xml version="1.0"?>
<robot name="TV_d1cc387a69d6a9f9ffb57b903304cf88">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/d1cc387a69d6a9f9ffb57b903304cf88.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/d1cc387a69d6a9f9ffb57b903304cf88.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>