<?xml version="1.0"?>
<robot name="TV_d1bebef6e1845fd375e9e061ab95f12b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/d1bebef6e1845fd375e9e061ab95f12b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TV/d1bebef6e1845fd375e9e061ab95f12b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>