<?xml version="1.0"?>
<robot name="TvStand_3eefee315ac3db5dcc719373d4fe991c">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TvStand/3eefee315ac3db5dcc719373d4fe991c.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TvStand/3eefee315ac3db5dcc719373d4fe991c.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>