<?xml version="1.0"?>
<robot name="TvStand_c0b8eca8a714ee99950d4b389568e2eb">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TvStand/c0b8eca8a714ee99950d4b389568e2eb.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TvStand/c0b8eca8a714ee99950d4b389568e2eb.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>