<?xml version="1.0"?>
<robot name="TvStand_f487121a31154898d810b14a81e12eca">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TvStand/f487121a31154898d810b14a81e12eca.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/TvStand/f487121a31154898d810b14a81e12eca.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>