<?xml version="1.0"?>
<robot name="USBStick_6484ba8442fc7c8829545ddc91df1dc1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/USBStick/6484ba8442fc7c8829545ddc91df1dc1.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/USBStick/6484ba8442fc7c8829545ddc91df1dc1.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>