<?xml version="1.0"?>
<robot name="USBStick_ab82d56cf9cc2476d154e1b098031d39">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/USBStick/ab82d56cf9cc2476d154e1b098031d39.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/USBStick/ab82d56cf9cc2476d154e1b098031d39.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>