<?xml version="1.0"?>
<robot name="Vase_d6b6a7a860cfeeda2f2318fdd66be40a">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/d6b6a7a860cfeeda2f2318fdd66be40a.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/d6b6a7a860cfeeda2f2318fdd66be40a.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>