<?xml version="1.0"?>
<robot name="Vase_8029c2527230111aad1d789f3b2120d0">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/8029c2527230111aad1d789f3b2120d0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/8029c2527230111aad1d789f3b2120d0.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>