<?xml version="1.0"?>
<robot name="Vase_e0855a7115eda487186588b1d2fb9823">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/e0855a7115eda487186588b1d2fb9823.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/e0855a7115eda487186588b1d2fb9823.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>