<?xml version="1.0"?>
<robot name="Vase_884b167e2c44a19930eaaf40a8a562c1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/884b167e2c44a19930eaaf40a8a562c1.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Vase/884b167e2c44a19930eaaf40a8a562c1.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>