<?xml version="1.0"?>
<robot name="WallClock_97734a7ab8ab7cbd35836c728d324152">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallClock/97734a7ab8ab7cbd35836c728d324152.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallClock/97734a7ab8ab7cbd35836c728d324152.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>