<?xml version="1.0"?>
<robot name="WallClock_e67f610cafeb2c0dbf93f50e43a43f7e">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallClock/e67f610cafeb2c0dbf93f50e43a43f7e.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallClock/e67f610cafeb2c0dbf93f50e43a43f7e.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>