<?xml version="1.0"?>
<robot name="WallUnit_9d0cbb45194c5a5971fff142cb0379">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/9d0cbb45194c5a5971fff142cb0379.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/9d0cbb45194c5a5971fff142cb0379.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>