<?xml version="1.0"?>
<robot name="WallLamp_20ebfb7c554be346a6a0e8ba576ee4f7">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallLamp/20ebfb7c554be346a6a0e8ba576ee4f7.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallLamp/20ebfb7c554be346a6a0e8ba576ee4f7.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>