<?xml version="1.0"?>
<robot name="WallArt_e72f341b107f408c3bac5db195d5c0cc">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallArt/e72f341b107f408c3bac5db195d5c0cc.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallArt/e72f341b107f408c3bac5db195d5c0cc.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>