<?xml version="1.0"?>
<robot name="WallUnit_ab62311a3ebede7da44bfc1d91c6a8aa">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/ab62311a3ebede7da44bfc1d91c6a8aa.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/ab62311a3ebede7da44bfc1d91c6a8aa.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>