<?xml version="1.0"?>
<robot name="WallUnit_4afb6dd55a1c4bb659ea5f21debb55d9">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/4afb6dd55a1c4bb659ea5f21debb55d9.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/4afb6dd55a1c4bb659ea5f21debb55d9.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>