<?xml version="1.0"?>
<robot name="WallUnit_99aeeb194e311ca2e18cb30f79057c27">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/99aeeb194e311ca2e18cb30f79057c27.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WallUnit/99aeeb194e311ca2e18cb30f79057c27.obj" scale="0.01 0.01 0.01" />
      </geometry>
    </collision>
    <inertial>
        <density value="600.0"/>
    </inertial>
  </link>
</robot>