<?xml version="1.0"?>
<robot name="Watch_f57628258e99f63c5cd95682b31d27c1">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Watch/f57628258e99f63c5cd95682b31d27c1.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Watch/f57628258e99f63c5cd95682b31d27c1.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>