<?xml version="1.0"?>
<robot name="Whiteboard_3311f1626bbacb069c7551b2a87db8ec">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Whiteboard/3311f1626bbacb069c7551b2a87db8ec.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Whiteboard/3311f1626bbacb069c7551b2a87db8ec.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>