<?xml version="1.0"?>
<robot name="WineGlass_445f26ebab09006782b108f8f7d0670d">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WineGlass/445f26ebab09006782b108f8f7d0670d.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WineGlass/445f26ebab09006782b108f8f7d0670d.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>