<?xml version="1.0"?>
<robot name="WineBottle_fa44223c6f785c60e71da2487cb2ee5b">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WineBottle/fa44223c6f785c60e71da2487cb2ee5b.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WineBottle/fa44223c6f785c60e71da2487cb2ee5b.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>