<?xml version="1.0"?>
<robot name="WineRack_df7a8b9d2dc9c134503adffe35460705">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WineRack/df7a8b9d2dc9c134503adffe35460705.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/WineRack/df7a8b9d2dc9c134503adffe35460705.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>