<?xml version="1.0"?>
<robot name="Xbox360_3837a34e62f54e5189f8950d7fb48ee2">
  <link name="base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Xbox360/3837a34e62f54e5189f8950d7fb48ee2.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Xbox360/3837a34e62f54e5189f8950d7fb48ee2.obj"/>
      </geometry>
    </collision>
    <inertial>
        <density value="150.0"/>  <!-- acronym density -->
    </inertial>
  </link>
</robot>